{{#arabic_fragment}}
{{#arabic_fragment.text}}
>> {{arabic_fragment.text}}
>>
{{/arabic_fragment.text}}
{{#arabic_fragment.source}}
>> ###### {{arabic_fragment.source}}
{{/arabic_fragment.source}}
>
{{/arabic_fragment}}
{{#russian_fragment}}
{{#russian_fragment.lines}}
>> {{.}}
{{/russian_fragment.lines}}
{{#russian_fragment.source}}
>>
>> ###### {{russian_fragment.source}}
{{/russian_fragment.source}}
>
{{/russian_fragment}}
{{#has_table}}
> |                 |                   |
> | --------------: | :---------------- |
{{#table}}
> | {{arabic}} | {{russian}} |
{{/table}}
{{/has_table}}
